<h1>Hello, <%= @customer.name %> </h1>
<p>Welcome to my site!</p>
<p>Thanks for joining and have a great day!</p>
<%= image_tag attachments['for_kitchen.jpg'].url, alt: 'Our Photo', class: 'photo', width: 300 -%>
